// Переменные шрифтов
$font-family: 'TT Firs Neue', sans-serif;
$second-family: 'Inter', sans-serif;
// Переменные основных цветов
$text-color: #2F2F2F;
$white-background: #FFFFFF;
$coral-color: #F96D6B;
$light-grey: #707070;
$very-lightgrey: #FAFAFA;
$marble-color: #EBEBEB;
$smoky-white-color: #F6F6F6;
$dusty-grey-color: #7F7F7F;




